name: Trigger custom cloudbeaver image build
on:
  schedule:
    - cron:  '0 10 * * *' # Everyday at 10 AM UTC
  workflow_dispatch:
env:
  BASE_IMAGE: dbeaver/cloudbeaver
jobs:
  trigger-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Update image base
      run: |
        latestTag=$(curl -fsSL "https://hub.docker.com/v2/repositories/${BASE_IMAGE}/tags/?page_size=1000" | jq -r '.results | .[] | .name' | grep -P '^[0-9]+\.[0-9]+\.[0-9]+$' | head -1)
        if [ -z "${latestTag}" ]; then
          echo "Error: Could not get latest tag of ${BASE_IMAGE} image! Abort!"
          exit 1
        fi
        sed -Ei "s|FROM dbeaver/cloudbeaver.*|FROM dbeaver/cloudbeaver:${latestTag}|g" Dockerfile && git add Dockerfile
        git commit -m 'Bump cloudbeaver to 'Bump cloudbeaver version to ${latestTag}"
        git tag ${latestTag} -m "Release ${latestTag}"
        git push origin HEAD ${latestTag}